.boardPage {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 18px 14px;
}
p {
  margin: 0;
}

.boardpage {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.boardpage__title {
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  margin-top: -22px;
  margin-left: 20px;
  padding: 0.8rem;
  min-width: 40%;
  font-style: italic;
  color: white;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.07);
}

.boardpage__title,
.boardpage__input {
  border: none;
  background-color: #343434;
  color: white;
}

.boardpage__input::placeholder {
  color: lightgray;
}

.boardpage__input:focus,
textarea:focus {
  outline: none;
}

.boardpage__container {
  background-color: #e9e9e9;
  border-radius: 15px;
  min-height: 50vh;
  padding: 1rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.07);
}

.boardpage__likesContainer {
  display: flex;
  justify-content: right;
}

.boardpage__likes {
  display: flex;
  gap: 0.3rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #343434;
  align-content: center;
}

.boardpage__heartButton {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.boardpage__heartIcon path {
  fill: #ff6838;
}

.boardpage__heartIcon {
  height: 1.1rem;
  width: 1.1rem;
}

@media screen and (min-width: 768px) {
  .boardpage {
    margin-top: 2rem;
  }
  .boardpage__flexContainer {
    justify-content: right;
  }
  .boardpage__title {
    min-width: 20%;
  }
  .boardpage__likes {
    padding-right: 0.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .boardpage__title {
    min-width: 10%;
  }
}
